@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">

    <div class="header">
        <h2>
            In malesuada semper mi, id sollicitudin
        </h2>
    </div>

</div>


