@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">

    <div class="header">
        <h2>
            * Under Development *
        </h2>
        <p>
            Until the new site is ready, please visit the existing web site for the Hendersonville, N.C. Bridge Center<br /><br />
            <a href="https://www.bridgewebs.com/hendersonvillebridge/" class="btn btn-default">https://www.bridgewebs.com/hendersonvillebridge/</a>
        </p>
    </div>

</div>


