@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">

    <div class="header">
        <div class="navbar-brand">
            <img src="~/img/hbc.png" />
            <br />
            <br />
        </div>
        <h5>
            Loading...please wait
        </h5>
       @* <p>
            Until the new site is ready, please visit the existing web site for the Hendersonville, N.C. Bridge Center<br /><br />
            <a href="https://www.bridgewebs.com/hendersonvillebridge/" class="btn">https://www.bridgewebs.com/hendersonvillebridge/</a>
        </p>*@
    </div>

</div>


<script>
    document.location.href="https://bridgewebs.com/hendersonvillebridge";
</script>